


/* For Phone */

.overlay{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);

}
.modal{
    position: relative;
    width: 360px;
    min-height: 640px;
    padding: 16px;
    background: #FFFFFF;
    
}
.back{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 4px;
}
.back img{
    width: 10px;
    height: 10px;
}

.back span{
    width: 31px;
    height: 20px;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #172B4D;


}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.apnalogo{
    width: 60px;
    height: 60px;
    /* align-self: ; */
    /* left: 150px;
    top: 24px; */


}

.textbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 8px;

    /* position: absolute;
    width: 328px;
    height: 76px;
    left: 16px;
    top: 108px; */

}

.textbox h2{
    margin-bottom: 0;
}

.textbox p{
    margin: 0;
    width: 328px;
    height: 40px;

    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
   
    text-align: center;
    letter-spacing: 0.0025em;


    color: #172B4D;


    flex: none;
    order: 1;
    flex-grow: 0;
}

.userform{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    /* position: absolute;
    width: 328px;
    height: 72px;
    left: 16px;
    top: 208px; */

}

.inputfield{
    width: 100%;
    margin-top: 5px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    /* position: absolute;
    width: 328px;
    height: 72px;
    left: 16px;
    top: 208px; */
}

.inputfield label {
    width: 100%;
    height: 20px;


    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    
    color: #172B4D;

    flex: none;
    order: 0;
    flex-grow: 0;

}

.inputfield input{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 12px;
    gap: 10px;

    width: 100%;
    height: 48px;

    background: #FFFFFF;

    border: 1px solid #B3BAC5;
    border-radius: 4px;

    flex: none;
    order: 1;
    flex-grow: 0;

}

.inputfield input:hover{
    border: 1px solid #5E6C84;
}

.inputfield input:focus{
    border: 2px solid #388BF2;

}
.inputfield input:active{
    border: 1px solid #B3BAC5;

}
.options{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
}

.tile{
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    padding: 16px 24px 16px 16px;
    gap: 10px;
    background: #FFFFFF;
    border: 1px solid #DFE1E6;
    border-radius: 8px;

}

.tile:hover{
    background: #F4F5F7;

    border: 1px solid #DFE1E6;
    border-radius: 8px;


}

.tile:focus{
    border: 2px solid #388BF2;
    border-radius: 8px;
}

.tile-content{
    display: flex;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

}

.radio-detail{
    display: flex;
    flex-direction: column ;

}

.icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

}

.icon img{
    width: 30px;
    height: 15px;
}
.icon p{
    width: 110px;
    height: 20px;
    margin: 0;

    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    color: #172B4D;

}

.icon-des{
    
    margin: 0;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;

    text-align: flex-start;
    letter-spacing: 0.0025em;

    color: #172B4D;
}

.companysize{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

}

.companysize span{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

}

.sizebuttons{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
}

.sizebuttons button{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 12px;
    gap: 10px;

    /* position: absolute;
    width: 49px;
    height: 32px;
    left: 56px;
    top: 620px; */

    background: #FFFFFF;

    border: 1px solid #DFE1E6;
    border-radius: 8px;
}

.sizebuttons button:focus{
    
    background: #EBF3FE;
    border: 2px solid #388BF2;

}

.sizebuttons button:hover{
    background: #F4F5F7;

}




.primarybutton{
    width: 100%;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    gap: 10px;

    background: #2BB792;
    border-radius: 4px;

    color: #FFFFFF;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;

}

.primarybutton:hover{
    background: #1F8268;

}


.primarybutton:disabled{
    background: #DFE1E6;
    border-radius: 4px;

    color: #B3BAC5;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;


    width: 100%;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    gap: 10px;


}

.radio-overlay{
    cursor: pointer;
    display: flex;
    gap: 10px;
    width: 100%;
    height: auto;
}



@media only screen and (min-width: 768px) {
    /* For desktop: */
    .modal{
        
        width: 688px;
        min-height: 348px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16), 0px 16px 32px rgba(0, 0, 0, 0.16);
        border-radius: 8px;
        
    }
    .back{
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 4px;
    }
    .back img{
        width: 10px;
        height: 10px;
    }
    
    .back span{
        width: 31px;
        height: 20px;
        font-family: 'Fira Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #172B4D;
    
    
    }
  }

